{% extends "base.html" %}

{% block content %}

<div class="card mx-auto p-4" style="max-width: 400px;">
    <h2 class="text-center mb-3">Register</h2>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-info">
                {{ messages[0] }}
            </div>
        {% endif %}
    {% endwith %}

    <form method="POST">
        <div class="mb-3">
            <label>Name</label>
            <input type="text" name="name" class="form-control" required>
        </div>

        <div class="mb-3">
            <label>Email</label>
            <input type="email" name="email" class="form-control" required>
        </div>

        <div class="mb-3">
            <label>Password</label>
            <input type="password" name="password" class="form-control" required>
        </div>

        <button class="btn btn-primary w-100">Register</button>
    </form>
</div>

{% endblock %}